{% extends 'ChessApp/base.html' %}

{% block info %}
    <h2> Name: {{ username }} </h2>

    <div id="games">
        <h3>Games</h3>
        {% for game_id in game_ids %}
            <div class="game">
                <h3>{{ game_id }}</h3>
                <a class="active" href="/?game_id={{ game_id }}">{{ request.get_full_path }}</a>
            </div>
        {% endfor %}
    </div>

    <script>
    let div_games = document.querySelector(".game");
    //div_games.innerHTML += {{ game_ids }};
    //console.log(div_games);
</script>
{% endblock %}
